.basket {
  position: relative;
  .count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: 0;
    background: white;
    color: black;
    border-radius: 50%;
  }

}

.basket-item {
  display: flex;
  width: 60%;
  padding: 15px;
  padding-left: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  position: relative;
  .absolute-url {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: -1;
  }
  p {
    text-align: center;
    display: block;
    width: calc(100% / 9);
  }

  &.head {

    font-weight: bold;

  }
}