header {
  position: sticky;
  top: 0;
  background: black;

  z-index: 10;
  padding: 15px;
  .navigation {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    a {
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      text-decoration: none;
      padding: 10px 12px;

      &.active-tab {
        color: orange;
      }
    }

    .menu-items {
      //width: 50%;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      a {
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        text-decoration: none;
        padding: 10px 12px;

        &.active-tab {
          color: orange;
        }
      }
    }

  }
}