.container-flex {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.content-wrap {
  display: flex;
  margin-top: 50px;
}

.right-bar {
  position: fixed;
  right: 20px;
  top: 100px;
  z-index: 1;
  height: 500px;
  width: 18%;
  margin-left: auto;
  background: white;
}

.desc {
  box-sizing: border-box;
  width: 87.5%;
  padding: 15px 35px;
  line-height: 28px;
  font-size: 17px;

  background: #f7f7f7;
}

.item {
  width: 31%;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: black;
  padding: 12px 16px;
  box-sizing: border-box;

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:hover {
    .photo-wrap {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: inherit;
        height: 100%;
        display: block;
        background-color: white;
        opacity: .5;
        z-index: 2;
      }
    }

    .description {
      text-decoration: underline;
    }
  }

  .description {
    display: flex;
    margin-bottom: 10px;
    .key-text {
      // width: 30%;
      // text-align: right;
      margin-right: 5px;
    }
  }
  .photo-wrap {
    height: 200px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: inherit;
      height: 100%;
      display: block;
      // background: red;
      z-index: 2;
    }

    .photo-item {
      background-repeat: no-repeat;
      background-position: top center;
      height: 100%;
      background-size: contain;
      position: relative;
      z-index: 1;

    }
  }
}

.object-item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  img {
    width: 500px;
  }
  .btns {
    display: flex;
    width: 80%;
    margin-top: 15px;
    align-items: center;
    margin: auto;
    .heart-icon {
      width: 32px;

    }
  }

  .desc-item {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background: #f7f7f7;
    border-top: 1px solid #eaeaea;
  }
}

.to_backet {
  font-size: 1.84615em;
  padding: 10px 25px;
  font-weight: 700;
  background: #00a046;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
  &:hover {
    background: #22a000;
  }
}

.price {
  display: flex;
  align-items: center;
  padding: 3px 10px;
  border-radius: 3px;

  margin-right: 20px;
  color: #000000;
  font-size: 2.46154em;
  letter-spacing: normal;
}

.info-item {
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  font-size: 18px;
  .left {
    padding: 10px;
    width: 30%;
  }
  .right {
    padding: 10px;
  }
}

.desc-item-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 50%;

  .dostavka {
    width: 80%;
    margin: auto;
  }
}

.view-more {
  font-familly: Arial, sans-serif;
  text-align: center;
  font-size: 24px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.detail-wrap {
  width: 90%;
  padding: 18px;
  box-shadow: 0px 0px 4px grey;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .image {
    max-width: 60%;
    margin: auto;
  }
}

.owl-carousel {
  padding-top: 12px;
}

.owl-carousel.owl-loaded {
  overflow: hidden !important;
  padding-left: 10px;
  padding-bottom: 15px;

}

.owl-carousel .owl-stage-outer {
  overflow: visible !important;
}

.owl-nav {
  text-align: center;
  button {
    outline: none;
    span {
      font-size: 84px;
    }
  }
}