{% load static %}
<div class="basket-wrapper ">
    <h2>ноутбуки</h2>
    <div class="basket-item head">
        <p>Модель</p>
        <p>Бренд</p>
        <p>Діагональ</p>
        <p>Операционная система</p>
        <p>Оперативная память</p>
        <p>Тип монитора</p>
        <p>Цена , грн</p>
        <p></p>
        <p></p>
        <p></p>
    </div>

    {% for elem in list_laptops %}
    <div class="basket-item">

        <p>{{ elem.model }}</p>
        <p>{{ elem.brand }}</p>
        <p>{{ elem.diagonal }}</p>
        <p>{{ elem.oper_system }}</p>
        <p>{{ elem.oper_memory }}</p>
        <p>{{ elem.get_type_monitor_display }}</p>
        <p> {{ elem.price }} </p>
        <p><a href="{% url 'laptop-detail' elem.id %}">Детали</a></p>
        <p>
            <a class="js-deleting"  href="{% url 'delete-from-basket' elem.id elem.category %}">x</a>
        </p>
        <p>
            <a href="">
                <img width="40" class="heart-icon" src="{% static 'image/heart.png' %}" alt="">
            </a>
        </p>
    </div>
    {% endfor %}

</div>

<script>

    $(document).ready(function () {
        App.ajax.init();
    })


</script>