{% extends 'category/index.html' %}
{% load static %}
{% block content %}
 <h1>{{ object.title }}</h1>

 <div class="object-item" style="  margin-left: -70px;">
        {% if object.image %}
        <img  src="{{ object.image.url }}" alt="">
        {% endif  %}
        <div class="desc-item-wrap">
            <div class="desc-item">
                {{ object.content|safe }}
            </div>
            <div class="desc-item">

                 <div class="btns">
                     <p class="price">{{ object.price }} грн</p>
                  <a data-id="{{ object.id }}" data-category = '{{ object.category }}' class="js-add-backet to_backet" href="{% url 'add-to-backet' object.id object.category %}">купить</a>
                    <a href="">
                        <img class="heart-icon" src="{% static 'image/heart.png' %}" alt="">
                    </a>
                </div>

         </div>
        </div>
        <div class="desc">
            <h3 class="left" >Описание</h3>
            <p class="right">{{ object.short_desc }}</p>
        </div>

    </div>

{% block extrascript  %}

<script>

$(document).ready(function() {
    App.products_all.init();
})


</script>
{% endblock  %}
{% endblock %}